[submodule "PubLayNet"]
	path = PubLayNet
	url = https://github.com/Aravindkumar-Rajendran/PubLayNet.git
[submodule "PubLayNet-IBM"]
	path = PubLayNet-IBM
	url = https://github.com/Aravindkumar-Rajendran/PubLayNet-IBM.git
